*{
box-sizing: border-box;
margin: 0;
bottom: 0;
}

.navcolor {
    background: rgb(221,169,105) !important;
    background: linear-gradient(90deg, rgba(221,169,105,1) 0%, rgba(199,138,63,1) 52%, rgba(143,106,62,1) 100%) !important;
    text-shadow: 0 0 2px rgb(252, 252, 252);
    text-decoration: none;
    z-index: 10;
}

.navcolor a {
    color: #ffff;
}

.navcolor a:hover {
    color: rgba(0, 0, 0, 0.774);
    }

.navcolor a:active {
        transform: translateY(5px);
    }

.navbar-brand{
font-display: solid ;
}

.fa-bars {
    color: #FFF;
}

.carousel-caption {
    color: rgb(255, 255, 255) ;
    text-shadow: 0px 0px 5px #000;
    margin-block-end: 15%;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.315);
    left: 0%;
    right: 0%;
    top: 0%;
    padding-top: 15%;
    margin-top: 0%;
    margin-block-end: -4%;
    z-index: 1;
}

.nuestrosproductos{
    background: rgb(221,169,105) !important;
    background: linear-gradient(90deg, rgba(221,169,105,1) 0%, rgba(199,138,63,1) 52%, rgba(143,106,62,1) 100%) !important;
    color: #ffff;
    text-shadow: 0px 0px 5px #000;
    text-align: center;
    padding: 5px;
    font-size: 30px;
}


.card{
    padding: 0%;
    border-radius: 0%;
}

.card:hover{
    border:2px solid rgb(194, 139, 87);
    transform:translateY(2px);
    }

.card-img-overlay{
    background-color: rgba(179, 138, 61, 0.219);
    text-shadow: 0 0 5px #000;
    padding-top: 35%;
    margin: 0%;
    border-bottom: 0;
    text-align: center;
    color: #ffff;
}

.card-img-overlay:hover{
    background-color: rgba(194, 139, 87, 0);
    padding-top: 35%;
    margin: 0%;
    text-align: center;
    color: #ffff;
}

.btn-primary{
    background-color: rgb(255, 255, 255);
    text-shadow: none;
    border:1px rgb(194, 139, 87);
    color: rgb(194, 139, 87);
}

.btn-primary:hover{
    background-color: rgb(194, 139, 87);
    border:1px rgb(194, 139, 87);
    color: rgb(255, 255, 255);
}


.prueba1:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color:rgb(194, 139, 87);
}

.prueba1 a {
    text-decoration: none;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    padding-top: 5px;
    background-color:#25d366;
    box-shadow: 0 0 5px #000;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}

.whatsapp {
    margin-top:15px;
}

.whatsapp:hover{
    background-color:#fff;
    color: #25d366 ;
}

.whatsapp1:active {
    transform: translateY(5px);
}


.piedepagina{
    background: rgb(221,169,105);
    background: linear-gradient(90deg, rgba(221,169,105,1) 0%, rgba(199,138,63,1) 52%, rgba(143,106,62,1) 100%);
}

.redes{
    color: #FFF;
    padding-right: 12px;
    padding-top: 10px;
}

.redes:hover{
    color: #dda969 ;
    padding-right: 12px;
}


.estilonombres{
    color: #dda969 ;
    text-align: center;
    font-size:large;
    font-weight: bold;
    padding: 10px;
}

.estilonombres1 {
    color: #ffffff ;
    background: rgb(221,169,105);
    background: linear-gradient(90deg, rgba(221,169,105,1) 0%, rgba(199,138,63,1) 52%, rgba(143,106,62,1) 100%);
    text-shadow: 0 0 5px #000;
    text-align: center;
    font-size:large;
    font-weight: bold;
    padding: 10px;
}